%h2= rt.listing_snippets
%table.snippets
  %tr
    %th= rt.snippet.name
    %th= rt.snippet.body
    %th= rt.snippet.created_at
    %th= rt.snippet.updated_at
    %th(colspan="2")
  - @snippets.each_with_index do |snippet, i|
    %tr{:class => (i + 1).odd? ? 'odd' : 'even'}
      %td.title= snippet.name
      %td= truncate(strip_tags(snippet.body))
      %td= rl snippet.created_at.to_time
      %td= rl snippet.updated_at.to_time
      %td
        %a.button(href="#{snippet.edit_link}")= rt.edit
      %td
        = link_to rt.delete, "/admin/snippets/#{snippet.id}", :class => 'button', :confirm => rt.are_you_sure, :method => :delete
.pager
  %ul
    - if @snippets.pager.previous_page
      %li.previous= link_to rt.previous, "?page=#{@snippets.pager.previous_page}"
    - if @snippets.pager.next_page
      %li.next= link_to rt.next, "?page=#{@snippets.pager.next_page}"
