:ruby
  sort_options  = Site::SORT_COLUMNS.map {|c| [t("entry.#{c}"), c] }
  order_options = Site::ORDERS.map {|o| [t(o), o] }
  markup_options = Markup.engine_list.map {|e| [e[1], e[0]] }
%h2= t('edit_site')
- form_for @site, url('/admin/site'), :method => :put do |f|
  %p
    = f.label :title, :caption => t('site.title')
    %br/
    = f.text_field :title
  %p
    = f.label :description, :caption => t('site.description')
    %br/
    ~ f.text_area :description
  %p
    = f.label :dashboard, :caption => t('site.dashboard')
    %br/
    ~ f.text_area :dashboard
  %p
    = f.label :per_page, :caption => t('site.per_page')
    %br/
    = f.select :per_page, :options => (1..20).to_a
  %p
    = f.label :default_sort, :caption => t('site.default_sort')
    %br/
    = f.select :default_sort, :options => sort_options
  %p
    = f.label :default_order, :caption => t('site.default_order')
    %br/
    = f.select :default_order, :options => order_options
  %p
    = f.label :default_markup, :caption => t('site.default_markup')
    %br/
    = f.select :default_markup, :options => markup_options
  %p
    = f.label :meta_description
    %br/
    ~ f.text_area :meta_description
  %p
    = f.label :meta_keywords
    %br/
    = f.text_field :meta_keywords
  %p
    = f.submit t('save')
