%h2= t('edit_site')
- form_for @site, '/admin/site', :method => :put do |f|
  %p
    = f.label :title, :caption => t('site.title')
    %br/
    = f.text_field :title
  %p
    = f.label :description, :caption => t('site.description')
    %br/
    ~ f.text_area :description
  %p
    = f.label :dashboard, :caption => t('site.dashboard')
    %br/
    ~ f.text_area :dashboard
  #toggle-button-options.toggle-button(onclick="$('.option').toggle()")= t('option')
  %p.option(style="display:none")
    = f.label :meta_description
    %br/
    ~ f.text_area :meta_description
  %p.option(style="display:none")
    = f.label :meta_keywords
    %br/
    = f.text_field :meta_keywords
  %p
    = f.submit t('edit')
