!!! XML
!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8'}
    %meta{'http-equiv' => 'Content-Style-Type', 'content' => 'text/css'}
    %meta{'http-equiv' => 'Content-Script-Type', 'content' => 'text/javascript'}
    - if entry?
      %title== #{@entry.title} - #{@site.title}
    - else
      %title== #{@site.title} - CMS for Cloud
    %link{:rel => 'shortcut icon', :href => "#{@theme.path}/favicon.ico"}
    %link{:title => @site.title, :rel => 'alternate', :href => '/index.atom', :type => 'application/atom+xml'}
    %link{:rel => 'stylesheet', :href => "#{@theme.path}/style.css", :type => 'text/css'}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript"}
    - if !logged_in? and ENV['RACK_ENV'] == 'production'
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-107252-10']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body{:class => @theme_types.join(' ')}
    #header
      - if index?
        .eye_catch
          %h1= @site.title
          %h2 CMS for Cloud
          .description
            = t.what_about_pyha
            %ul
              %li.cloud cloud
              %li.ruby= link_to 'ruby', 'http://www.ruby-lang.org/en/'
        .capture= link_to 'download', 'http://github.com/komagata/pyha/downloads'
      - else
        %h1= link_to @site.title, "/"
      .nav
        %ul
          %li= link_to t.home, "/"
          %li= link_to t.getting_started, "/getting-started-#{r18n.locale.code}"
          %li= link_to t.download, 'http://github.com/komagata/pyha/downloads'
          %li= link_to t.source_code, 'http://github.com/komagata/pyha'
      - unless index?
        .bred_crumbs
          = bread_crumb
    #container
      #main= yield
      - unless index?
        #aside
          %dl
            %dt= t.recent_entries
            %dd
              %ul
                - Post.recent(5).each do |post|
                  %li= link_to post.title, post.link
    #footer
      .language
        %ul
          %li
            %a{:href => '?locale=en'} English
          %li
            %a{:href => '?locale=ja'} 日本語
      .copy
        pyha
