<div class="section article">
  <div class="header">
    <h1><%= @entry.title %></h1>
    <div class="info">
      <span class="date"><%= l @entry.created_at %></span>
      <% unless @entry.category.nil? %>
      <span class="category"><a href="<%= @entry.category.link %>"><%= @entry.category.title %></a></span>
      <% end %>
      <% unless @entry.tags.size.zero? %>
      <span class="tags"><%= @entry.tags_to_html %></span>
      <% end %>
    </div>
  </div>
  <div class="body">
    <%= @entry.body %>
  </div>
  <div class="admin-footer">
    <% if logged_in? %>
    <p><a href="<%= @entry.edit_link %>"><%= t('edit') %></a></p>
    <% end %>
  </div>
</div>
