<% unless index? %>
<h1><%= @title %></h1>
<% end %>
<div class="section articles">
<% @posts.each do |post| %>
  <div class="section article">
    <div class="header">
      <h1><a href="<%= url(post.link) %>"><%= post.title %></a></h1>
      <div class="info">
        <span class="date"><%= l post.created_at %></span>
        <% unless post.category.nil? %>
        <span class="category"><a href="<%= url(post.category.span) %>"><%= post.category.title %></a></span>
        <% end %>
        <% unless post.tags.size.zero? %>
        <span class="tags"><%= post.tags_to_html %></span>
        <% end %>
      </div>
    </div>
    <div class="body">
      <%= post.body %>
    </div>
    <div class="admin-footer">
      <% if logged_in? %>
      <p><a href="<%= url(post.edit_link) %>"><%= t('edit') %></a></p>
      <% end %>
    </div>
  </div>
<% end %>
  <div class="pager">
    <div>
      <% if @posts.pager.previous_page %>
      <span class="previous"><a href="?page=<%= @posts.pager.previous_page %>">Newer</a></span>
      <% end %>
      <% if @posts.pager.next_page %>
      <span class="next"><a href="?page=<%= @posts.pager.next_page %>">Older</a></span>
      <% end %>
    </div>
  </div>
</div>
