<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="application/html; charset=UTF-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
<% if entry? %>
    <title><%= @entry.title %> - <%= @site.title %></title>
<% else %>
    <title><%= @site.title %></title>
<% end %>
    <meta name="description" content="<%= @site.meta_description %>" />
    <meta name="keywords" content="<%= @site.meta_keywords %>" />
    <link href="/index.atom" rel="alternate" title="<%= @title %>" type="application/atom+xml" />
    <link rel="stylesheet" href="<%= @theme.path %>/style.css" type="text/css" />
    <%= header %>
  </head>
  <body>
    <div id="header">
      <h1><a href="/"><%= @site.title %></a></h1>
      <span class="description"><%= @site.description %></span>
    </div>
    <div id="content">
      <div id="main">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <div>
        <% Tag.all.each do |tag| %>
        <span><a href="<%= tag.link %>"><%= tag.name %></a></span>
        <% end %>
      </div>
      <div>
        <% months.each do |month| %>
        <span><a href="/<%= month.year %>/<%= month.month %>/"><%= month.year %>/<%= month.month %></a></span>
        <% end %>
      </div>
      <div>
        <a href="/index.atom">Feed</a>
      </div>
      <form action="/search/" method="get">
        <input type="text" name="query" class="text_field" />
        <button class="submit" onclick="submit()">Search</button>
      </form>
      <div class="poweredby">powered by <a href="http://github.com/komagata/lokka">Lokka</a></div>
    </div>
    <%= footer %>
  </body>
</html>
