- if locale == settings.default_locale
  - page = @page
- else
  - page = Page("#{@page.slug}-#{locale}")
.header
  %h2.title= page.title
.article.section
  .body
    ~ page.body
  .footer
    .created_at= l page.created_at.to_time
    - if logged_in?
      %p= link_to t.edit, page.edit_link
