- unless @snipet.errors.empty?
  #error
    .title= t.error
    %ul
      - @snipet.errors.each do |error|
        %li= error
.field
  %label{:for => 'snipet_body'}= t.snipet.body
  %br
  %textarea{:id => 'snipet_body', :name => 'snipet[body]', :rows => 10, :cols => 50}= h @snipet.body
.field
  %label{:for => 'snipet_created_at'}= t.snipet.created_at
  %br
  %input{:type => 'text', :id => 'snipet_created_at', :name => 'snipet[created_at]', :value => @snipet.created_at}
.field
  %label{:for => 'snipet_updated_at'}= t.snipet.updated_at
  %br
  %input{:type => 'text', :id => 'snipet_updated_at', :name => 'snipet[updated_at]', :value => @snipet.updated_at}
