%h2= t.gravatar_image
%form{:action => '/admin/plugins/gravatar_image', :method => 'post'}
  %input{:type => 'hidden', :name => '_method', :value => 'put'}
  .field
    %label{:for => 'gravatar_image_default'}= t.gravatar_image_default + " (#{t.gravatar_image_optional})"
    %br
    %input{:type => 'text', :id => 'gravatar_image_default', :name => 'gravatar_image_default', :value => Option.gravatar_image_default}
  .field
    %label{:for => 'gravatar_image_default_fix'}= t.gravatar_image_default_fix + " (#{t.gravatar_image_optional})"
    %br
    %select{:name => 'gravatar_image_default_fix'}
      %option{:value => '', :selected => Option.gravatar_image_default_fix.blank?}
      %option{:value => '404', :selected => Option.gravatar_image_default_fix == '404'}404
      %option{:value => 'mm', :selected => Option.gravatar_image_default_fix == 'mm'}mm
      %option{:value => 'identicon', :selected => Option.gravatar_image_default_fix == 'identicon'}identicon
      %option{:value => 'monsterid', :selected => Option.gravatar_image_default_fix == 'monsterid'}monsterid
      %option{:value => 'wavatar', :selected => Option.gravatar_image_default_fix == 'wavatar'}wavatar
      %option{:value => 'retro', :selected => Option.gravatar_image_default_fix == 'retro'}retro
  .field
    %label{:for => 'gravatar_image_force'}= t.gravatar_image_force + " (#{t.gravatar_image_optional})"
    %br
    %input{:type => 'hidden', :name => 'gravatar_image_force', :value => 'n'}
    %input{:type => 'checkbox', :id => 'gravatar_image_force', :name => 'gravatar_image_force', :value => 'y', :checked => Option.gravatar_image_force == 'y'}
  .field
    %label{:for => 'gravatar_image_ext'}= t.gravatar_image_ext + " (#{t.gravatar_image_optional})"
    %br
    %input{:type => 'text', :id => 'gravatar_image_ext', :name => 'gravatar_image_ext', :value => Option.gravatar_image_ext}
  .field
    %label{:for => 'gravatar_image_rating'}= t.gravatar_image_rating + " (#{t.gravatar_image_optional})"
    %br
    %select{:id => 'gravatar_image_rating', :name => 'gravatar_image_rating'}
      %option{:value => '', :selected => Option.gravatar_image_rating.blank?}
      %option{:value => 'g', :selected => Option.gravatar_image_rating == 'g'}g
      %option{:value => 'pg', :selected => Option.gravatar_image_rating == 'pg'}pg
      %option{:value => 'r', :selected => Option.gravatar_image_rating == 'r'}r
      %option{:value => 'x', :selected => Option.gravatar_image_rating == 'x'}x
  .field
    %input{:type => 'submit', :value => t.edit}
