.pager
  %ul
    - if @posts.pager.previous_page
      %li.previous
        %a{:href => "?page=#{@posts.pager.previous_page}"} Newer
    - if @posts.pager.next_page
      %li.next
        %a{:href => "?page=#{@posts.pager.next_page}"} Older
          
%article
  .date
    %img{:src => "images/date.png"}
      .date_contents
        %p.days= post.created_at.strftime("%b")/post.created_at.day
        %p.year= ..post.created_at.year
      .article_contents
          .title
            %h2
              %a{:href => post.link}= post.title
          .tags
            %p tags :
            %ul
              %li
                %a{ \#{post.tags_to_html}}
          .body
            = @entry.body
              = post.body
            - if logged_in?
              %p.edit
                %a{:href => post.edit_link}= t('edit')