- @posts.each do |post|
  %article
    .date
      %img{:src => "#{@theme.path}/images/date.png"}
        .date_contents
          %p.days= post.created_at.strftime("%b")+post.created_at.day
          %p.year= post.created_at.year
    .article_contents
      .title
        %h2
          %a{:href => post.link}= post.title
      .tags
        %p tags:
        %ul
          %li
            #{post.tags_to_html}
      .body
        = post.body
        - if logged_in?
          %a{:href => post.edit_link}= t('edit')
