- @posts.each do |post|
  %article
    .date
      %img{:src => "images/date.png"}
        .date_contents
          %p.days= post.created_at.day
          %p.year= post.created_at.year
    .article_contents
      .title
        %h2
          %a{:href => post.link}= post.title
      .tags
        %p tags:
        %ul
          %li
            %a{:href => post.link}= post.title
      .body
<<<<<<< HEAD
        = @entry.body
=======
        = post.body
>>>>>>> c4831fdff0a4e2443507b24d458db3cde4bbd371
        - if logged_in?
          %a{:href => post.edit_link}= t('edit')
