%article
  .date
    %img{:src => "#{@theme.path}/images/date.png"}
      .date_contents
        %p.month= @entry.created_at.strftime("%b")
        %p.days= @entry.created_at.day
        %p.year= @entry.created_at.year
  .article_contents
    .title
      %h2= @entry.title
    .tags
      %p tags :
      %ul
        %li
          #{@entry.tags_to_html}
    .body
      = @entry.body
      - if logged_in?
        %p
        %a{:href => @entry.edit_link}= t('edit')