!!! 5
%html{:lang => "ja"}
  %meta{:content => "application/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "text/css", "http-equiv" => "Content-Style-Type"}
    %meta{:content => "text/javascript", "http-equiv" => "Content-Script-Type"}
    - if entry?
      %title
        = @entry.title
        \- #{@site.title}
    - else
      %title= @site.title
    %meta{:content => @site.meta_description, :name => "description"}
    %meta{:content => @site.meta_keywords, :name => "keywords"}
    %link{:href => "/index.atom", :rel => "alternate", :title => @title, :type => "application/atom+xml"}
    %link{:href => "#{@theme.path}/style.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %header
      .wrap
        %h1
          %a.head_logo{:href => "/"} Fårikål
        %p.catchcopy description
        %nav.gNav
          %ul
            %li
              %a{:href => "/"} home
    #contents.clearfix
      %nav.pager
        %ul
          %li
            %a{:href => "/1"} test
      #main
        = yield
      #side_bar
        .new
          .side_header
            %h4 new entries
          .new_content
            %ul
              %li
                %a{:href => "/1"} test post
        .past
          .side_header
            %h4 archives
          .past_content
            %ul
              %li
                %a{:href => "/2012/06/"} 2012/06
        .side_tags
          .side_header
            %h4 tags
          .side_tags_content
            %ul
              %li
                %a{:href => "/tags/lokka/"} Lokka
        .search
          .side_header
            %h4 search
          .search_content
            %form{:action => "/search/", :method => "get"}
              %input.text_field{:name => "query", :type => "text"}/
              %button.submit{:onclick => "submit()"} Search
      .pn_wrap
        .prev
          %a{:href => "#"} prevpage
        .next
          %a{:href => "#"} nextpage
    %footer
      .wrap
        %p.copyright
          Copyright ©
          %a{:href => "/"} Fårikål
          2012 -  All Rights Reserved.
        %p.poweredby
          powered by
          %a{:href => "http://github.com/komagata/lokka"} Lokka
        %nav.control
          %ul
            %li
              %a{:href => "/admin/"} admin
            %li
              %a{:href => "/index.atom"} feed