!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "application/xhtml+xml; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "text/css", "http-equiv" => "Content-Style-Type"}/
    %meta{:content => "text/javascript", "http-equiv" => "Content-Script-Type"}/
    - if entry?
      %title
        = @entry.title
        \- #{@site.title}
    - else
      %title= @site.title
    %meta{:content => @site.meta_description, :name => "description"}/
    %meta{:content => @site.meta_keywords, :name => "keywords"}/
    %link{:href => "/index.atom", :rel => "alternate", :title => @title, :type => "application/atom+xml"}/
    %link{:href => "#{@theme.path}/style.css", :rel => "stylesheet", :type => "text/css"}/
    = header
  - if entry?
    %body{:class => "#{@theme_types.join(' ')} #{@entry.slug}"}
  - else
    %body{:class => @theme_types.join(' ')}
  #header
    .wrap
      %p.title
        %a{:href => "/"}= @site.title
      %p.catchcopy= @site.description
    / .wrap
    .breadcrumbs
      = bread_crumb
  #body.wrap.clearfix
    #main
      = yield
    #sub
      .recent_entries.nav
        %h2 Recent Entries
        %ol
          - Post.recent(5).each do |post|
            %li
              %a{:href => post.link}= post.title
      / .nav
      .categories.nav
        %h2 Categories
        %ul
          - Post.recent(5).each do |post|
            %li= category_tree
      / .nav
      .tags.nav
        %h2 Tags
        %ul
          - Tag.all.each do |tag|
            %li
              %a{:href => tag.link}= tag.name
      / .nav
      .archives.nav
        %h2 Archives
        %ul
          - months.each do |month|
            %li
              %a{:href => "/#{month.year}/#{month.month}/"}
                = month.year
                \/#{month.month}
      / .nav
      .search
        %h2 Search
        %form{:action => "/search/", :method => "get"}
          %input.text_field{:name => "query", :type => "text"}/
          %button.submit{:onclick => "submit()"} Search
      / .search
  #footer
    .wrap
      %p.copyright
        Copyright ©
        %a{:href => "/"}= @site.title
        2XXX - 2XXXX All Rights Reserved.
      %p.poweredby
        powered by
        %a{:href => "http://github.com/komagata/lokka"} Lokka
      .control
        %ul
          %li
            %a{:href => "/admin/"} Admin
          %li
            %a{:href => "/index.atom"} Feed
    = footer