%h4.comment= rt.comments
- if @comment and !@comment.errors.empty?
  #error
    .title= rt.error
    %ul
      - @comment.errors.each do |error|
        %li= error
%form{:action => request.path_info, :method => 'post', :id => 'comment_form'}
  :javascript
    document.write('<input type="hidden" name="check" value="check" />');
  %p
    %label{:for => 'comment_name'}= rt.comment.name
    %br
    %input{:type => 'text', :name => 'comment[name]', :id => 'comment_name'}
  %p
    %label{:for => 'comment_homepage'}= rt.comment.homepage
    == (#{rt.option})
    %br
    %input{:type => 'text', :name => 'comment[homepage]', :id => 'comment_homepage'}
  %p
    %label{:for => 'comment_body'}= rt.comment.body
    %br
    %textarea{:name => 'comment[body]', :id => 'comment_body', :cols => 40, :rows => 10}
  %input.button{:type => 'submit', :value => rt.post_comment}
