.article.section
  .header
    %h2.title= link_to post.title, post.link
  .body
    ~ post.body
  .footer
    = post.tags_to_html
    .comment== #{link_to "#{t.comments} (#{post.comments.size})", "#{post.link}#comment_form"}
    .created_at= l post.created_at.to_time
    - if logged_in?
      .edit= link_to t.edit, post.edit_link
