= partial :article, :locals => {:post => @entry}
%ul.comments
  - @entry.comments.reverse.each do |comment|
    %li.comment{:id => "comment-#{comment.id}"}
      .body= hbr comment.body
      .footer
        .name= link_to_unless comment.homepage.blank?, comment.name, comment.homepage
        .created_at= l comment.created_at.to_time
= comment_form
