<% unless index? %>
  <% if category? %>
    <h2 class="entries_title">Category : <%= @title %></h2>
  <% elsif tag? %>
    <h2 class="entries_title">Tag : <%= @title %></h2>
  <% else %>
    <h2 class="entries_title"><%= @title %></h2>
  <% end %>
<% end %>
<div class="section articles">
  <% @posts.each do |post| %>
    <div class="section article">
      <div class="label clearfix">
        <% unless post.category.nil? %>
          <p class="category"><a href="<%= post.category.link %>"><%= post.category.title %></a></p>
        <% end %>
        <% unless post.tags.size.zero? %>
          <div class="tags">
            Tags : 
            <%= post.tags_to_html %>
          </div>
        <% end %>
      </div>
    <div class="header">
      <div class="title">
        <h2><a href="<%= post.link %>"><%= post.title %></a></h2>
        <p class="author">Posted by <%= post.user.name %></p>
      </div>
      <div class="date">
        <p class="month"><%= post.created_at.strftime("%b")  %></p>     
        <p class="day"><%= post.created_at.day %></p>
        <p class="year"><%= post.created_at.year %></p>
      </div>
    </div>
    <div class="body">
      <%= post.body %>
      <% if logged_in? %>
      <p class="edit"><a href="<%= post.edit_link %>"><%= t('edit') %></a></p>
      <% end %>
    </div>
  </div>
<% end %>
  <div class="pager">
    <ul>
      <% if @posts.pager.previous_page %>
      <li class="previous"><a href="?page=<%= @posts.pager.previous_page %>">Newer</a></li>
      <% end %>
      <% if @posts.pager.next_page %>
      <li class="next"><a href="?page=<%= @posts.pager.next_page %>">Older</a></li>
      <% end %>
    </ul>
  </div>
</div>
