<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
<% if entry? %>
    <title><%= @entry.title %> - <%= @site.title %></title>
<% else %>
    <title><%= @site.title %></title>
<% end %>
    <meta name="description" content="<%= @site.meta_description %>" />
    <meta name="keywords" content="<%= @site.meta_keywords %>" />
    <link href="/index.atom" rel="alternate" title="<%= @title %>" type="application/atom+xml" />
    <link rel="stylesheet" href="<%= @theme.path %>/style.css" type="text/css" />
    <%= header %>
  </head>
  <% if entry? %>
    <body class="<%= @theme_types.join(' ') %> <%= @entry.slug %>">
  <% else %>
    <body class="<%= @theme_types.join(' ') %>">
  <% end %>
    <div id="header">
    
      <div class="wrap">
      <p class="title"><a href="/"><%= @site.title %></a></p>
      <p class="catchcopy"><%= @site.description %></p>
      </div><!-- .wrap -->
      
      <div class="breadcrumbs">
        <%= bread_crumb %>
      </div>
    </div>
    <div id="body" class="wrap clearfix">
      <div id="main">
        <%= yield %>
      </div>
      <div id="sub">
        <div class="recent_entries nav">
          <h2>Recent Entries</h2>
          <ol>
            <% Post.recent(5).each do |post| %>
              <li><a href="<%= post.link %>"><%= post.title %></a></li>
            <% end %>
          </ol>
        </div><!-- .nav -->

        <div class="categories nav">
          <h2>Categories</h2>
          <ul>
            <% Post.recent(5).each do |post| %>
              <li><%= category_tree %></li>
            <% end %>
          </ul>
        </div><!-- .nav -->
        
        <div class="tags nav">
          <h2>Tags</h2>
          <ul>
            <% Tag.all.each do |tag| %>
              <li><a href="<%= tag.link %>"><%= tag.name %></a></li>
            <% end %>
          </ul>
        </div><!-- .nav -->
        
        <div class="archives nav">
          <h2>Archives</h2>
          <ul>
            <% months.each do |month| %>
              <li><a href="/<%= month.year %>/<%= month.month %>/"><%= month.year %>/<%= month.month %></a></li>
            <% end %>
          </ul>
        </div><!-- .nav -->
        
        <div class="search">
          <h2>Search</h2>
          <form action="/search/" method="get">
            <input type="text" name="query" class="text_field" />
            <button class="submit" onclick="submit()">Search</button>
          </form>
        </div><!-- .search -->
      </div>
    </div>
    <div id="footer">
      <div class="wrap">
        <p class="copyright">Copyright &copy; <a href="/"><%= @site.title %></a> 2XXX - 2XXXX All Rights Reserved.</p>
        <p class="poweredby">powered by <a href="http://github.com/komagata/lokka">Lokka</a></p>
        <div class="control">
          <ul>
            <li><a href="/admin/">Admin</a></li>
            <li><a href="/index.atom">Feed</a></li>
          </ul>
      </div>
    </div>
    <%= footer %>
  </body>
</html>
