%h2= t('listing_themes')
%ul.themes
  - @themes.each do |theme|
    - class_for_theme = theme.title == Site.first.theme ? 'theme selected' : 'theme'
    %li{:class => class_for_theme}
      .title
        = link_to theme.title, url("/admin/themes?title=#{theme.title}"), :confirm => t('are_you_sure'), :method => 'put'
      - if theme.screenshot
        .screenshot
          = link_to "<img src=\"#{theme.screenshot}\" />", url("/admin/themes?title=#{theme.title}"), :confirm => t('may_i_change_the_theme'), :method => 'put'
      - else
        .screenshot
          %span no screenshot
