%h2 Entries
%table
  %tr
    %th Id
    %th Slug
    %th Title
    %th Created at
    %th Updated at
    %th{:colspan => 2} Action
  - @entries.each do |entry|
    %tr
      %td= entry.id
      %td= entry.slug
      %td= entry.title
      %td= entry.created_at
      %td= entry.updated_at
      %td
        %a{:href => "/admin/entries/#{entry.id}/edit"} Edit
      %td
        %a{:href => "/admin/entries/#{entry.id}"} Delete
