- if params[:draft] == 'true'
  %h2= t("listing_draft_#{@name.pluralize}")
- else
  %h2= t("listing_#{@name.pluralize}")
%ul.conditions
  %li= link_to t('all'), "/admin/#{@name.pluralize}"
  %li= link_to t('draft'), "/admin/#{@name.pluralize}?draft=true"
%table{:class => @name.pluralize}
  %tr
    %th= t("#{@name}.title")
    %th= t("#{@name}.user")
    %th= t("#{@name}.created_at")
    %th(colspan="2")
  - @entries.each_with_index do |entry, i|
    %tr{:class => (i + 1).odd? ? 'odd' : 'even'}
      %td.title= link_to entry.title, entry.link
      %td= entry.user.nil? ? '' : entry.user.name
      %td= l(entry.created_at, :format => :long)
      %td= link_to t('edit'), entry.edit_link, :class => 'button'
      %td= link_to t('delete'), "/admin/#{@name.pluralize}/#{entry.id}", :class => 'button', :confirm => t('are_you_sure'), :method => :delete
.pager
  %ul
    - if @entries.pager.previous_page
      %li.previous= link_to t('previous'), "?page=#{@entries.pager.previous_page}"
    - if @entries.pager.next_page
      %li.next= link_to t('next'), "?page=#{@entries.pager.next_page}"
