%h2= rt["new_#@name"]
%form(action="/admin/#{@name.pluralize}" method="post")
  = partial 'entries/form'
  %p
    %input(type="submit" value="#{rt.preview}" name="preview")
    %input(type="submit" value="#{rt.new}" name="edit")
