<h2>Index</h2>
<div class="articles">
<% @posts.each do |post| %>
  <div class="article">
    <div class="header">
      <h3><a href="<%= post.link %>"><%= post.title %></a></h3>
    </div>
    <div class="body">
      <%= post.body %>
    </div>
    <div class="footer_name">
      <div class="user"><%= post.user.name %></div>
      <div class="created_at"><%= post.created_at %></div>
      <div class="updated_at"><%= post.updated_at %></div>
    </div>
  </div>
<% end %>
<% if @pager.previous_page %>
<div class="previous"><a href="?page=<%= @pager.previous_page %>">Previous</a></div>
<% end %>
<% if @pager.next_page %>
<div class="next"><a href="?page=<%= @pager.next_page %>">Next</a></div>
<% end %>
</div>
