<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title><%= @title %></title>
    <link href="/index.atom" rel="alternate" title="<%= @title %>" type="application/atom+xml" />
    <link rel="stylesheet" href="/theme/default/style.css" type="text/css" />
  </head>
  <body>
    <div id="header">
      <h1><a href="/"><%= @site.title %></a></h1>
      <div class="description"><%= @site.description %></div>
      <div id="bread_crumb">
        <%= bread_crumb %>
      </div>
    </div>
    <div id="main">
      <%= yield %>
    </div>
    <div id="aside">
      <div class="section">
        <form action="/search/" method="get">
          <input type="text" name="query" />
          <button onclick="submit()">Search</button>
        </form>
      </div>
      <div class="section">
        <h3>Recent Entries</h3>
        <ul>
          <% Post.recent(5).each do |post| %>
          <li><a href="<%= post.link %>"><%= post.title %></a></li>
          <% end %>
        </ul>
      </div>
      <div class="section">
        <h3>Categories</h3>
        <%= category_tree %>
      </div>
      <div class="section">
        <h3>Archives</h3>
        <ul>
          <% @year_months.each do |year_month| %>
          <li><a href="/<%= year_month.year %>/<%= year_month.month %>/"><%= year_month.year %>/<%= year_month.month %></a></li>
          <% end %>
        </ul>
      </div>
      <div class="section">
        <h3>Others</h3>
        <ul>
          <li><a href="/admin/">Admin</a></li>
        </ul>
      </div>
    </div>
    <div id="footer">
      powered by <a href="http://github.com/komagata/pyha">Pyha</a>.
    </div>
  </body>
</html>
