<div id="admin_menu">
　	<span>
		<%= t('admin') %>：
	</span>
	<ul>
 		<% if logged_in? %>
			<li>
				<%= link_to t('admin_page'), url('/admin/') %>｜
			</li>
			<li>
				<%= link_to t('new_post'), url('/admin/posts/new') %>｜
			</li>
			<li>
				<%= link_to t('logout'), url('/admin/logout') %>
			</li>
		<% else %>
			<li>
				<%= link_to t('login'), url('/admin/login') %>
			</li>		
		<% end %>
	</ul>
</div>
