<div id="admin_menu">
　	<span>
		<%= rt.admin %>：
	</span>
	<ul>
 		<% if logged_in? %>
			<li>
				<%= link_to rt.admin_page, '/admin/' %>｜
			</li>
			<li>
				<%= link_to rt.new_post, '/admin/posts/new' %>｜
			</li>
			<li>
				<%= link_to rt.logout, '/admin/logout' %>
			</li>
		<% else %>
			<li>
				<%= link_to rt.login, "/admin/login" %>
			</li>		
		<% end %>
	</ul>
</div>