<div class="entry_wrapper">
	<div class="entry">
		<h2 class="entry_title">
			<a href="<%= url(entry.link) %>">
				<%= entry.title %>
			</a>
		</h2>

		<div class="entry_body">
			<%= entry.body %>
		</div>

	</div>
	<div class="entry_info">
		<span class="link_to_entry_comment">
			<%= link_to "#{t('comments')}(#{entry.comments.size})", url("#{entry.link}#comment_wrapper") %>
		</span>

		<span class="entry_date">
			<%= entry.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
		</span>

		<% if logged_in? %>
		  <span><a href="<%= url(entry.edit_link) %>"><%= t('edit') %></a></span>
		<% end %>

		<%= entry.tags_to_html %>
	</div>
</div>
