%h2 Git Themes
.clear
  %ul.themes
    - settings.git_themes.each do |theme_name, theme|
      %li.theme{:class => selected_if(theme_name == Site.first.theme)}
        .title
          = link_to theme_name, "/admin/plugins/git_themes?title=#{theme_name}", :confirm => t('are_you_sure'), :method => 'put'
        - if theme.screenshot
          .screenshot
            = link_to %|<img src="#{theme.screenshot}", width="240", height="170" />|, "/admin/plugins/git_themes?title=#{theme_name}", :confirm => t('may_i_change_the_theme'), :method => 'put'
        - else
          .screenshot
            %span no screenshot
        #{theme.git}
        %form{:action => "/admin/plugins/git_themes/#{theme_name}", :method => 'post'}
          %input{:type => 'hidden', :name => '_method', :value => 'delete'}
          %input{:type => 'submit', :value => 'remove'}
    - if settings.git_themes.blank?
      no theme installed
%hr/
%form{:action => '/admin/plugins/git_themes', :method => 'post'}
  .field
    %label{:for => 'theme_url'} Theme Git URL
    (e.g. git://github.com/tkawa/lokka-theme-p0t.git)
    %br
    %input{:type => 'text', :id => 'theme_url', :name => 'theme_url'}
  .field
    %input{:type => 'submit', :value => 'install'}

  -#%textarea
    = settings.templates
