%h2= rt.listing_users
%table.users
  %tr
    %th= rt.user.name
    %th= rt.user.email
    %th= rt.user.created_at
    %th(colspan="2")
  - @users.each_with_index do |user, i|
    %tr{:class => (i + 1).odd? ? 'odd' : 'even'}
      %td.name
        %a(href="/admin/users/#{user.id}/edit")= user.name
      %td= user.email
      %td= rl user.created_at.to_time
      %td
        %a.button(href="/admin/users/#{user.id}/edit")= rt.edit
      %td
        - unless user == current_user
          = link_to rt.delete, "/admin/users/#{user.id}", :class => 'button', :confirm => rt.are_you_sure, :method => :delete
.pager
  %ul
    - if @users.pager.previous_page
      %li.previous= link_to rt.previous, "?page=#{@users.pager.previous_page}"
    - if @users.pager.next_page
      %li.next= link_to rt.next, "?page=#{@users.pager.next_page}"
