%h2= t('listing_users')
%table.users
  %tr
    %th= t('user.name')
    %th= t('user.email')
    %th= t('user.created_at')
    %th(colspan="2")
  - @users.each_with_index do |user, i|
    %tr{:class => (i + 1).odd? ? 'odd' : 'even'}
      %td.name= link_to user.name, "/admin/users/#{user.id}/edit"
      %td= user.email
      %td= l(user.created_at, :format => :long)
      %td= link_to t('edit'), "/admin/users/#{user.id}/edit", :class => 'button'
      %td
        - unless user == current_user
          = link_to t('delete'), "/admin/users/#{user.id}", :class => 'button', :confirm => t('are_you_sure'), :method => :delete
.pager
  %ul
    - if @users.pager.previous_page
      %li.previous= link_to t('previous'), "?page=#{@users.pager.previous_page}"
    - if @users.pager.next_page
      %li.next= link_to t('next'), "?page=#{@users.pager.next_page}"
