%h2= t.mixi_check
%form{:action => '/admin/plugins/mixi_check', :method => 'post'}
  %input{:type => 'hidden', :name => '_method', :value => 'put'}
  .field
    %label{:for => 'mixi_check_key'}= t.mixi_check_key
    %br 
    %input{:type => 'text', :id => 'mixi_check_key', :name => 'mixi_check_key', :value => Option.mixi_check_key}
  .field
    %label{:for => 'mixi_check_button'}= t.mixi_check_button + " (#{t.mixi_check_optional})"
    %br 
    %select{:id => 'mixi_check_button', :name => 'mixi_check_button'}
      %option{:value => '', :selected => Option.mixi_check_button.blank?}
      %option{:value => 'button-1', :selected => Option.mixi_check_button == 'button-1'}= t.mixi_check_button_1
      %option{:value => 'button-2', :selected => Option.mixi_check_button == 'button-2'}= t.mixi_check_button_2
      %option{:value => 'button-3', :selected => Option.mixi_check_button == 'button-3'}= t.mixi_check_button_3
      %option{:value => 'button-4', :selected => Option.mixi_check_button == 'button-4'}= t.mixi_check_button_4
      %option{:value => 'button-5', :selected => Option.mixi_check_button == 'button-5'}= t.mixi_check_button_5
  .field
    %label{:for => 'mixi_check_button_type'}= t.mixi_check_button_type + " (#{t.mixi_check_optional})"
    %br
    %input{:type => 'radio', :id => 'mixi_check_button_type_png', :name => 'mixi_check_button_type', :value => 'png', :checked => Option.mixi_check_button_type == 'png'}
    %label{:for => 'mixi_check_button_type_png'}= t.mixi_check_button_type_png
    %input{:type => 'radio', :id => 'mixi_check_button_type_gif', :name => 'mixi_check_button_type', :value => 'gif', :checked => Option.mixi_check_button_type == 'gif'}
    %label{:for => 'mixi_check_button_type_gif'}= t.mixi_check_button_type_gif
  .field
    %input{:type => 'submit', :value => t.edit}
