%h2= t('antispam.title')
%p= t('antispam.description')

%form{ action: url('/admin/plugins/antispam'), method: :post }
  %input{ type: :hidden, name: :_method, value: 'put' }

  %fieldset
    %legend= t('antispam.honeypot.title')
    %p.description= t('antispam.honeypot.description')
    .field
      %label
        %input{ type: :checkbox, name: 'antispam[honeypot_enabled]', value: '1', checked: @settings[:honeypot_enabled] }
        = t('antispam.enable')

  %fieldset
    %legend= t('antispam.timing.title')
    %p.description= t('antispam.timing.description')
    .field
      %label
        %input{ type: :checkbox, name: 'antispam[timing_enabled]', value: '1', checked: @settings[:timing_enabled] }
        = t('antispam.enable')
    .field
      %label= t('antispam.timing.min_seconds')
      %input{ type: :number, name: 'antispam[timing_min_seconds]', value: @settings[:timing_min_seconds], min: 1, max: 60 }
      = t('antispam.seconds')

  %fieldset
    %legend= t('antispam.content.title')
    %p.description= t('antispam.content.description')
    .field
      %label
        %input{ type: :checkbox, name: 'antispam[content_enabled]', value: '1', checked: @settings[:content_enabled] }
        = t('antispam.enable')
    .field
      %label= t('antispam.content.max_urls')
      %input{ type: :number, name: 'antispam[content_max_urls]', value: @settings[:content_max_urls], min: 0, max: 100 }
    .field
      %label= t('antispam.content.ng_words')
      %textarea{ name: 'antispam[content_ng_words]', rows: 3, placeholder: t('antispam.content.ng_words_placeholder') }= @settings[:content_ng_words]

  %fieldset
    %legend= t('antispam.turnstile.title')
    %p.description= t('antispam.turnstile.description')
    .field
      %label
        %input{ type: :checkbox, name: 'antispam[turnstile_enabled]', value: '1', checked: @settings[:turnstile_enabled] }
        = t('antispam.enable')
    .field
      %label= t('antispam.turnstile.site_key')
      %input{ type: :text, name: 'antispam[turnstile_site_key]', value: @settings[:turnstile_site_key], size: 50 }
    .field
      %label= t('antispam.turnstile.secret_key')
      %input{ type: :password, name: 'antispam[turnstile_secret_key]', value: @settings[:turnstile_secret_key], size: 50 }

  %fieldset
    %legend= t('antispam.rate_limit.title')
    %p.description= t('antispam.rate_limit.description')
    .field
      %label
        %input{ type: :checkbox, name: 'antispam[rate_limit_enabled]', value: '1', checked: @settings[:rate_limit_enabled] }
        = t('antispam.enable')
    .field
      %label= t('antispam.rate_limit.max')
      %input{ type: :number, name: 'antispam[rate_limit_max]', value: @settings[:rate_limit_max], min: 1, max: 100 }
      = t('antispam.rate_limit.comments')
    .field
      %label= t('antispam.rate_limit.window')
      %input{ type: :number, name: 'antispam[rate_limit_window]', value: @settings[:rate_limit_window], min: 10, max: 3600 }
      = t('antispam.seconds')

  .field
    %input{ type: :submit, value: t('save') }
