!!! XML
!!!
%html
  %head
    %meta{ 'http-equiv': 'Content-Type', content: 'text/html; charset=utf-8' }
    %meta{ 'http-equiv': 'Content-Style-Type', content: 'text/css' }
    %meta{ 'http-equiv': 'Content-Script-Type', content: 'text/javascript' }
    %meta{ name: 'viewport', content: 'width=device-width' }
    %title== #{@site.title} - Lokka
    = favicon_tag url('/favicon.ico')
    = stylesheet_link_tag url('/admin/css/style.css')
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min'
  %body.admin_login
    #header
      %h1= link_to @site.title, url('/')
      #nav
        %ul
          - if logged_in?
            %li= link_to current_user.name, url("/admin/users/#{current_user.id}/edit")
            %li= link_to t('logout'), url('/admin/logout')
          - else
            %li= link_to t('login'), url('/admin/login')
    #content
      #main
        %h2= t('login')
        %form{ action: url('/admin/login'), method: :post }
          - if @login_failed
            #error= t('your_name_or_password_is_incorrect')
          .field
            %label{ for: :user_name }= t('user.name')
            %br/
            %input{ id: :user_name, name: :name, type: :text }
          .field
            %label{ for: :user_password }= t('user.password')
            %br/
            %input{ id: :user_password, name: :password, type: :password }
          .field
            %input{ id: :login, type: :submit, value: t('login') }
    #footer= link_to 'Lokka', 'http://lokka.org'
