!!! XML
!!!
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(http-equiv="Content-Style-Type" content="text/css")
    %meta(http-equiv="Content-Script-Type" content="text/javascript")
    %title== #{@site.title} - Lokka
    %link(rel="shortcut icon" href="/favicon.ico")
    %link(rel="stylesheet" href="/admin/css/style.css" type="text/css")
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript")
  %body.admin_login
    #header
      %h1= link_to @site.title, '/'
      #nav
        %ul
          - if logged_in?
            %li= link_to current_user.name, "/admin/users/#{current_user.id}/edit"
            %li= link_to rt.logout, '/admin/logout'
          - else
            %li= link_to rt.login, '/admin/login'
    #content
      #main
        %h2= rt.login
        %form(action="/admin/login" method="post")
          - if @login_failed
            #error= rt.your_name_or_password_is_incorrect
          .field
            %label(for="user_name")= rt.user.name
            %br/
            %input(id="user_name" name="name" type="text")
          .field
            %label(for="user_password")= rt.user.password
            %br/
            %input(id="user_password" name="password" type="password")
          .field
            %input(value="login" type="submit" value="#{rt.login}")
    #footer= link_to 'Lokka', 'http://lokka.org'
