!!! XML
!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8'}
    %meta{'http-equiv' => 'Content-Style-Type', 'content' => 'text/css'}
    %meta{'http-equiv' => 'Content-Script-Type', 'content' => 'text/javascript'}
    %title== #{@site.title} - Pyha
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    %link{:rel => 'stylesheet', :href => '/admin/style.css', :type => 'text/css'}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript"}
  %body.admin_login
    #header
      %h1
        %a{:href => '/'}= @site.title
    #nav
      %ul
        - if logged_in?
          %li= current_user.name
          %li
            %a{:href => '/admin/logout'}= t.logout
        - else
          %li
            %a{:href => '/admin/login'}= t.login
    #content
      #main
        %h2= t.login
        %form{:action => '/admin/login', :method => 'post'}
          %p
            %label{:for => 'user_name'}= t.user.name
            %br
            %input{:id => 'user_name', :name => 'name', :type => 'text'}
          %p 
            %label{:for => 'user_password'}= t.user.password
            %br
            %input{:id => 'user_password', :name => 'password', :type => 'password'}
          %p
            %input{:value => 'login', :type => 'submit', :value => t.login}
    #footer
      %a{:href => 'http://github.com/komagata/pyha'} Pyha
