- unless @post.errors.empty?
  #error
    .title= t.error
    %ul
      - @post.errors.each do |error|
        %li= error
%p
  %label{:for => 'post_title'}= t.post.title
  %br
  %input{:type => 'text', :id => 'post_title', :name => 'post[title]', :value => @post.title}
%p
  %label{:for => 'post_body'}= t.post.body
  %br
  %textarea{:id => 'post_body', :name => 'post[body]', :rows => 10, :cols => 50}= @post.body
%p
  %label{:for => 'post_slug'}= t.post.slug
  %br
  %input{:type => 'text', :id => 'post_slug', :name => 'post[slug]', :value => @post.slug}
%p
  %label{:for => 'post_category'}= t.post.category
  %br
  - if @categories.size > 1
    = select_field @post, :category_id, @categories, :id => 'post_category'
  - else
    = t.no_category
%p
  %label{:for => 'post_tag_collection'}= t.post.tags
  %br
  %input{:type => 'text', :id => 'post_tag_collection', :name => 'post[tag_collection]', :value => @post.tag_collection}
