- if params[:draft] == 'true'
  %h2= t.listing_draft_posts
- else
  %h2= t.listing_posts
%ul.conditions
  %li= link_to t.all, '/admin/posts'
  %li= link_to t.draft, '/admin/posts?draft=true'
%table.posts
  %tr
    %th= t.post.title
    %th= t.post.user
    %th= t.post.created_at
    %th{:colspan => 2}
  - @posts.each_with_index do |post, i|
    %tr{:class => (i+1).odd? ? 'odd' : 'even'}
      %td.title
        %a{:href => post.link}= post.title
      %td= post.user.nil? ? '' : post.user.name
      %td= l post.created_at.to_time
      %td
        %a.button{:href => post.edit_link}= t.edit
      %td
        = link_to t.delete, "/admin/posts/#{post.id}", :class => 'button', :confirm => t.are_you_sure, :method => :delete
.pager
  %ul
    - if @posts.pager.previous_page
      %li.previous= link_to t.previous, "?page=#{@posts.pager.previous_page}"
    - if @posts.pager.next_page
      %li.next= link_to t.next, "?page=#{@posts.pager.next_page}"
