- @posts.each do |post|
  %article
    .date
      %img{ src: "#{@theme.path}/images/date.png" }
        .date_contents
          %p.month= post.created_at.strftime('%m')
          %p.days= post.created_at.strftime('%d')
          %p.year= post.created_at.year
    .article_contents
      .title
        %h1
          %a{ href: url(post.link) }= post.title
      - unless post.tags.size.zero?
        = post.tags_to_html
      .body
        = post.body
        - if logged_in?
          .edit
            %a{ href: url(post.edit_link) }= t('edit')
.pn_wrap
  %div
    - if @posts.pager.previous_page
      %span.prev
        %a{ href: "?page=#{@posts.pager.previous_page}" } Newer
    - if @posts.pager.next_page
      %span.next
        %a{ href: "?page=#{@posts.pager.next_page}" } Older
