<div class="section article">
  <div class="header">
    <h2><%= @document.title %></h2>
    <ul class="info">
      <li class="date"><%= @document.created_at %></li>
      <li class="category"><a href="<%= @document.category.link %>"><%= @document.category.name %></a></li>
      <li class="auther"><%= @document.user.name %></li>
    </ul>
  </div>
  <div class="body">
    <%= @document.body %>
  </div>
  <div class="footer">
  </div>
</div>
