<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
<% if entry? %>
    <title><%= @entry.title %> - <%= @site.title %></title>
<% else %>
    <title><%= @site.title %></title>
<% end %>
    <meta name="description" content="<%= @site.meta_description %>" />
    <meta name="keywords" content="<%= @site.meta_keywords %>" />
    <link href="<%= url('/index.atom') %>" rel="alternate" title="<%= @title %>" type="application/atom+xml" />
    <link rel="stylesheet" href="<%= @theme.path %>/style.css" type="text/css" />
    <%= header %>
  </head>
  <body>
    <div id="header">
      <h1><a href="<%= url('/') %>"><%= @site.title %></a></h1>
      <div class="description"><%= @site.description %></div>
      <div id="bread_crumb">
        <%= bread_crumb %>
      </div>
    </div>
    <div id="content">
      <div id="main">
        <%= yield %>
      </div>
      <div id="aside">
        <dl>
          <dt>About</dt>
          <dd><p>Text ...</p></dd>
          <dt>Recent Entries</dt>
          <dd>
            <ul>
              <% Post.recent(5).each do |post| %>
              <li><a href="<%= url(post.link) %>"><%= post.title %></a></li>
              <% end %>
            </ul>
          </dd>
          <dt>Categories</dt>
          <dd><%= category_tree %></dd>
          <dt>Tags</dt>
          <dd>
            <ul>
              <% Tag.all.each do |tag| %>
              <li><a href="<%= url(tag.link) %>"><%= tag.name %></a></li>
              <% end %>
            </ul>
          </dd>
          <dt>Archives</dt>
          <dd>
            <ul>
              <% months.each do |month| %>
              <li><a href="<%= url('/' + month.year + '/' + month.month + '/') %>"><%= month.year %>/<%= month.month %></a></li>
              <% end %>
            </ul>
          </dd>
          <dt>Search</dt>
          <dd>
            <form action="<%= url('/search/') %>" method="get">
              <input type="text" name="query" class="text_field" />
              <button class="submit" onclick="submit()">Search</button>
            </form>
          </dd>
          <dt>Others</dt>
          <dd>
            <ul>
              <li><a href="<%= url('/admin/') %>">Admin</a></li>
              <li><a href="<%= url('/index.atom') %>">Feed</a></li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
    <div id="footer">
      <div class="poweredby">powered by <a href="http://github.com/lokka/lokka">Lokka</a></div>
    </div>
    <%= footer %>
  </body>
</html>
