- if params[:draft] == 'true'
  %h2= t.listing_draft_pages
- else
  %h2= t.listing_pages
%ul.conditions
  %li= link_to t.all, '/admin/pages'
  %li= link_to t.draft, '/admin/pages?draft=true'
%table.pages
  %tr
    %th= t.page.title
    %th= t.page.user
    %th= t.page.created_at
    %th{:colspan => 2}
  - @pages.each_with_index do |page, i|
    %tr{:class => (i+1).odd? ? 'odd' : 'even'}
      %td.title
        %a{:href => page.link}= page.title
      %td= page.user.nil? ? '' : page.user.name
      %td= l page.created_at.to_time
      %td
        %a.button{:href => page.edit_link}= t.edit
      %td
        = link_to t.delete, "/admin/pages/#{page.id}", :class => 'button', :confirm => t.are_you_sure, :method => :delete
.pager
  %ul
    - if @pages.pager.previous_page
      %li.previous= link_to t.previous, "?page=#{@pages.pager.previous_page}"
    - if @pages.pager.next_page
      %li.next= link_to t.next, "?page=#{@pages.pager.next_page}"
