<% @posts.each do |post| %>
<div class="article section">
  <div class="header">
    <h2 class="title"><a href="<%= url(post.link) %>"><%= post.title %></a></h2>
  </div>
  <div class="body">
    <%= post.long_body %>
  </div>
  <div class="footer">
    <div class="created_at"><%= l(post.created_at, format: :long) %></div>
<% if logged_in? %>
    <p><a href="<%= url(post.edit_link) %>"><%= t('edit') %></a></p>
<% end %>
  </div>
</div>
<% end %>
<div class="pager">
    <%= paginate @posts %>
</div>
