%h2= t('listing_tags')
#table_wrapper
  %table.tags
    %tr
      %th= t('tag.name')
      %th{ colspan: 2 }
    - @tags.each_with_index do |tag, i|
      %tr{ class: (i + 1).odd? ? :odd : :even }
        %td.title= link_to "#{tag.name}(#{tag.taggings.count})", url(tag.link)
        %td= link_to t('edit'), url("/admin/tags/#{tag.id}/edit"), class: 'button'
        %td= link_to t('delete'), url("/admin/tags/#{tag.id}"), class: 'button', confirm: t('are_you_sure'), method: :delete
.pager
  = paginate @tags
