- unless @link.errors.empty?
  #error
    .title= t.error
    %ul
      - @link.errors.each do |error|
        %li= error
%p
  %label{:for => 'link_title'}= t.link.title
  %br
  %input{:type => 'text', :id => 'link_title', :name => 'link[title]', :value => @link.title}
%p
  %label{:for => 'link_url'}= t.link.url
  %br
  %input{:type => 'text', :id => 'link_url', :name => 'link[url]', :value => @link.url}
%p
  %label{:for => 'link_target'}= t.link.target
  %br
  %input{:type => 'text', :id => 'link_target', :name => 'link[target]', :value => @link.target}
