%h2= t.listing_categories
%table
  %tr
    %th= t.category.title
    %th= t.category.created_at
    %th(colspan="2")
  - @categories.each do |category|
    %tr
      %td
        %a(href="/admin/categories/#{category.id}/edit")= category.title
      %td= l category.created_at.to_time
      %td
        %a.button(href="/admin/categories/#{category.id}/edit")= t.edit
      %td
        = link_to t.delete, "/admin/categories/#{category.id}", :class => 'button', :confirm => t.are_you_sure, :method => :delete
