- unless @comment.errors.empty?
  #error
    .title= rt.error
    %ul
      - @comment.errors.each do |error|
        %li= error
.field
  %label(for="comment_entry")= rt.comment.entry
  %br
  - if @entries.size > 1
    = select_field @comment, :entry_id, @entries, :id => 'comment_entry'
  - else
    = rt.no_entry
.field
  %label(for="comment_name")= rt.comment.name
  %br
  %input(type="text" id="comment_name" name="comment[name]" value="#{@comment.name}")
.field
  %label(for="comment_body")= rt.comment.body
  %br
  %textarea(id="comment_body" name="comment[body]" rows="10" cols="50")= h @comment.body
.field
  %label(for="comment_homepage")= rt.comment.homepage
  %br
  %input(type="text" id="comment_homepage" name="comment[homepage]" value="#{@comment.homepage}")
.field
  %label(for="comment_created_at")= rt.comment.created_at
  %br
  %input(type="text" id="comment_created_at" name="comment[created_at]" value="#{@comment.created_at}")
.field
  %label(for="comment_status")= rt.comment_status
  %br/
  - ops = [[Comment::APPROVED, rt.comment_approved], [Comment::MODERATED, rt.comment_moderated], [Comment::SPAM, rt.comment_spam]]
  = select_field @comment, :status, ops, :id => 'comment_status'
