%h2= t('listing_comments')
%p.spam= link_to t('delete_spam'), url("/admin/comments/spam"), :class => 'button', :confirm => t('are_you_sure'), :method => :delete
%table.comments
  %tr
    %th= t('comment_status')
    %th= t('comment.body')
    %th= t('comment.name')
    %th= t('comment.created_at')
    %th(colspan="2")
  - @comments.each_with_index do |comment, i|
    %tr{:class => (i + 1).odd? ? 'odd' : 'even'}
      - status = case comment.status; when Comment::APPROVED; t('comment_approved'); when Comment::MODERATED; t('comment_moderated'); when Comment::SPAM; t('comment_spam'); end
      %td= status
      %td.body= link_to truncate(strip_tags(comment.body)), url(comment.link)
      %td= comment.name
      %td= l(comment.created_at, :format => :long)
      %td= link_to t('edit'), url("/admin/comments/#{comment.id}/edit"), :class => 'button'
      %td= link_to t('delete'), url("/admin/comments/#{comment.id}"), :class => 'button', :confirm => t('are_you_sure'), :method => :delete
.pager
  %ul
    - if @comments.pager.previous_page
      %li.previous= link_to t('previous'), "?page=#{@comments.pager.previous_page}"
    - if @comments.pager.next_page
      %li.next= link_to t('next'), "?page=#{@comments.pager.next_page}"
