%h2= rt.listing_comments
%table.comments
  %tr
    %th= rt.comment_status
    %th= rt.comment.body
    %th= rt.comment.name
    %th= rt.comment.created_at
    %th(colspan="2")
  - @comments.each_with_index do |comment, i|
    %tr{:class => (i + 1).odd? ? 'odd' : 'even'}
      - status = case comment.status; when Comment::APPROVED; rt.comment_approved; when Comment::MODERATED; rt.comment_moderated; when Comment::SPAM; rt.comment_spam; end
      %td= status
      %td.body= link_to truncate(strip_tags(comment.body)), comment.link
      %td= comment.name
      %td= rl comment.created_at.to_time
      %td
        %a.button(href="/admin/comments/#{comment.id}/edit")= rt.edit
      %td
        = link_to rt.delete, "/admin/comments/#{comment.id}", :class => 'button', :confirm => rt.are_you_sure, :method => :delete
.pager
  %ul
    - if @comments.pager.previous_page
      %li.previous= link_to rt.previous, "?page=#{@comments.pager.previous_page}"
    - if @comments.pager.next_page
      %li.next= link_to rt.next, "?page=#{@comments.pager.next_page}"
