%table.calendar
  %tr.calendar_header
    %td.prev_month
      %a{:href => "/#{@calendar_prev.year}/#{@calendar_prev.strftime("%m")}/"}= "<<"
    %td.current_month{:colspan => '5'}
      %a{:href => "/#{@calendar.year}/#{@calendar.strftime("%m")}/"}= "#{@calendar.year}/#{@calendar.month}"
    %td.next_month
      %a{:href => "/#{@calendar_next.year}/#{@calendar_next.strftime("%m")}/"}= ">>"
  - @calendar_days.in_groups_of(7).each_with_index do |week, w_idx|
    %tr{:class => "week_#{w_idx}"}
      - week.each_with_index do |day, d_idx|
        %td{:class => "day_#{d_idx}"}
          - if @today.month == day.month
            - if @calendar_posts.include?(day)
              %a{:href => "/#{day.year}/#{day.strftime("%m")}/#{day.strftime("%d")}/"}= day.day
            - else
              = day.day
